.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 10000;
}

.container{
    height: auto;
    width: 413px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 33px;
    margin: auto;
    background: #F9F9FE;
    border-radius: 8px;
    z-index: 10001;
}

.modalTitle{
    font-size: 24px;
}

.modalFields{
    margin:20px 0 ;
    padding: 5px 0;
    width: 250px;
    background: rgba(0,0,0,0);
    border:none;
    outline: none;
    border-bottom: 2px solid #2D2E46;
    color:#000;
    transition: .3s;
}

.modalFields:focus{
    border:none;
    outline: none;
    border-bottom: 2px solid #21268F;
}

.modalFieldsError{
    border-bottom: 2px solid red;
}

.modalButton{
    display: block;
    margin: 10px;
    height: 36px;
    padding: 5px 15px;

    background: #cccccc;
    box-shadow: 0px 4px 18px rgba(204, 204, 204, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border:none;
    border-radius: 2px;
    color:#21268F;
    transition: .3s;
    cursor: pointer;
}

.modalButton:hover,.authButton:focus{
    background: #9d9c9c;
}

.modalAddButton{
    display: block;
    margin: 10px;
    height: 36px;
    padding: 5px 15px;

    background: #21268F;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border:none;
    border-radius: 2px;
    color:#fff;
    transition: .3s;
    cursor: pointer;
}

.modalAddButton:hover,.authButton:focus{
    background: #2D2E46;
}

.modalCloseButton{
    display: block;
    margin: 10px;
    height: 36px;
    padding: 5px 15px;

    background: #c50404;
    box-shadow: 0px 4px 18px rgba(255, 0, 0, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border:none;
    border-radius: 2px;
    color:#fff;
    transition: .3s;
    cursor: pointer;
}

.modalCloseButton:hover,.authButton:focus{
    background: #7a0202;
}


.buttonsWrapper{
    display: flex;
    margin: 20px 0;
}

.btnStyle{
    width: 50% !important;
}

.modalText{

}

.error{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 15px 25px;
    background: #c50404;
    border-radius: 5px;
    position: fixed;
    bottom:-1000px;
    left:100px;
    z-index: 20000000;
    opacity: 0;
    transition: all .4s ease;
}

.errorMessage{
    color:#fff;
    font-size: 16px;
}

.errorButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: 16px;
    background:rgba(0,0,0,0);
    /*background:#fff;*/
    padding: 0;
    height: 16px;
    width: 16px;
    margin: 0;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20000001;
}

.show{
    position: fixed;
    bottom:20px;
    left:50px;
    opacity: 1;
    transition: all .4s ease;
}