.formForgotPassword {
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 350px;
    text-align: center;
}

.title {
    font-size: 26px;
    line-height: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

.subtitle {
    font-size: 22px;
    line-height: 1em;
    margin-bottom: 1em;
}

.formEmail {
    margin-left: auto;
    margin-right: auto;
}

.labelInput {
    display: block;
    margin-left: 10px;
}

.blockBtn {
    display: flex;
    justify-content: center;
}

.primaryBtn {
    background-color: #21268F;
    color: #fff;
}
